<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Adicionar Atividade</h2>
        <form id="atividade-form">
            <label for="data">Data:</label>
            <input type="date" id="data" name="data" required><br>
            <label for="horario">Horário:</label>
            <input type="time" id="horario" name="horario" required><br>
            <label for="atividade">Atividade:</label>
            <input type="text" id="atividade" name="atividade" required><br>
            <label for="maps">Link do Maps:</label>
            <input type="url" id="maps" name="maps"><br>
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

<!-- Modal de Edição -->
<div id="modal-edicao" class="modal">
<div class="modal-content">
    <span class="close-edicao">&times;</span>
    <h2>Editar Atividade</h2>
    <form id="atividade-form-edicao">
        <label for="data-edicao">Data:</label>
        <input type="date" id="data-edicao" name="data" required><br>
        <label for="horario-edicao">Horário:</label>
        <input type="time" id="horario-edicao" name="horario" required><br>
        <label for="atividade-edicao">Atividade:</label>
        <input type="text" id="atividade-edicao" name="atividade" required><br>
        <label for="maps-edicao">Link do Maps:</label>
        <input type="url" id="maps-edicao" name="maps"><br>
        <button type="submit">Salvar</button>
    </form>
</div>
</div>