<section class="roteiro-details-section">

    <div class="roteiro-details">

        <table>
            <tbody id="tabela-atividades">
                <!-- CONTEÚDO DINÂMICO SERÁ INSERIDO AQUI -->
            </tbody>
        </table>

        <div class="roteiro-add-button">
            <button class="btn-adicionar" id="btn-incluir">Incluir Atividade</button>
        </div>

    </div>

</section>