<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roteiro de Viagens</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>
        <div class="roteiro-container">
            <div class="roteiro-header-left">
                <h1>Roteiro de Viagens</h1>
            </div>
        </div>
    </header>