<%- include('partials/template-inicio-header') %>
    <nav>
        <div class="roteiro-container">
            <ul class="roteiro-nav-menu">
                <li><a href="/"><strong class="fonte-custom"><u>HOJE</u></strong></a></li>
                <li><a href="amanha">amanhã</a></li>
                <li><a href="todos-os-dias">todos os dias</a></li>
                <li><a href="https://www.google.com/maps/d/edit?hl=pt-BR&mid=1VWLXnXTpztRhBBxj6Ys9n-PutAe9jIU&ll=38.016674086783965%2C135.7756966&z=6" target="_blank">my maps</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="roteiro-container">
            <div class="roteiro-notification">
                <p>Próxima Atividade: -
                </p>
            </div>
            <div class="roteiro-warning">
                <p><br>Todas as atividades de hoje:</p>
            </div>
            <%- include('partials/roteiro-details-section') %>
        </div>
    </main>
    <%- include('partials/footer') %>
        <%- include('partials/modais') %>
            </body>
            <script type="module" src="./script.js"></script>
            </html>