/* Importando uma fonte moderna do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Fundo escuro moderno */
    color: #E0E0E0; /* Texto claro */
    margin: 0;
    padding: 0;
}

.roteiro-logo {
    width: 40px;
    height: auto;
}

header {
    background-color: #1F1F1F; /* Fundo cinza escuro */
    text-align: center;
    padding: 5px;
}

.roteiro-nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px; /* Espaçamento entre os itens */
    font-size: 0.5rem;
}

h1 {
    font-size: 1rem;
    color: #E0E0E0; /* Título claro */
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #121212;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    font-size: 0.5rem;
}

nav ul li {
    margin: 0 10px;
    font-size: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #1DB954; /* Verde Spotify */
    font-weight: bold;
    font-size: 0.5rem;
}

.fonte-custom {
    color: #B3B3B3; /* Cinza claro */
    font-size: 0.5rem;
}

nav ul li a:hover {
    color: #1ED760; /* Verde mais claro ao passar o mouse */
}

/* Container principal da página */
.roteiro-container {
    padding: 5px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.roteiro-notification {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    font-size: 0.75rem;
    color: #1DB954; /* Verde Spotify */
    text-align: center;
    border: 1px solid #1DB954;
    padding: 2px;
    border-radius: 10px;
    background-color: #1D1D1D;
    word-wrap: break-word;
    white-space: normal;
}

.roteiro-warning {
    margin: 0;
    font-size: 0.75rem;
    color: #1ED760; /* Verde claro */
    text-align: center;
    padding: 0;
    border-radius: 0;
    background-color: #121212;
    word-wrap: break-word;
}

/* Estilo geral da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table td, table th {
    padding: 0;
    border-bottom: 0.1px solid #333; /* Cinza escuro para separadores */
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
}

.linha-invisivel,
.celula-invisivel {
    border: 0;
}

/* Ajustando as colunas */
.primeira-linha td:nth-child(1) {
    width: 33%;
    text-align: right;
    padding: 0;
}

.primeira-linha td:nth-child(2) {
    width: 33%;
    text-align: center;
    padding: 0;
}

.primeira-linha td:nth-child(3) {
    width: 33%;
    text-align: left;
    padding: 0;
}

.primeira-linha {
    display: flex;
    flex-direction: row;
}

/* Estilo para o botão de incluir */
button {
    background-color: #1ED760; /* Verde Spotify */
    color: #000;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9rem;
    width: 20%;
    box-sizing: border-box;
}

button:hover {
    background-color: #1DB954; /* Verde mais escuro */
}

/* Botão de excluir personalizado */
.btn-excluir {
    background-color: #FF6F61; /* Coral */
    margin-bottom: 5px;
    color: #000;
    padding: 4px;
    font-size: 0.8rem;
    border-radius: 4px;
    width: 65%;
}

.btn-excluir:hover {
    background-color: #FF3D00; /* Laranja mais intenso */
}

/* Estilo para o link "Ver no Maps" */
.roteiro-notification a {
    color: #1DB954; /* Verde Spotify */
    text-decoration: none;
    font-weight: bold;
}

.roteiro-notification a:hover {
    color: #1ED760; /* Verde mais claro */
    text-decoration: underline;
}

.roteiro-notification a:visited {
    color: #B3B3B3; /* Cinza claro */
}

/* Links da tabela */
#tabela-atividades a {
    color: #1DB954; /* Verde Spotify */
    text-decoration: none;
    font-weight: bold;
}

#tabela-atividades a:hover {
    color: #1ED760; /* Verde mais claro */
    text-decoration: underline;
}

#tabela-atividades a:visited {
    color: #B3B3B3; /* Cinza claro */
}

/* Botão de adicionar */
.btn-adicionar {
    margin-top: 15px;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

/* Rodapé */
footer {
    padding: 0;
    background-color: #1F1F1F;
    text-align: center;
    color: #E0E0E0;
    font-size: 0.4rem;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro */
}

.modal-content {
    background-color: #1D1D1D;
    margin: 5% auto;
    padding: 15px;
    border: 1px solid #333;
    width: 90%;
    max-width: 90%;
    border-radius: 8px;
    text-align: left;
    box-sizing: border-box;
}

.modal h2 {
    color: #1DB954; /* Verde Spotify */
}

.modal label {
    display: block;
    margin-top: 5px;
}

.modal input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #222;
    color: #E0E0E0;
    box-sizing: border-box;
}

.close {
    color: #1DB954; /* Verde Spotify */
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}

.close:hover {
    color: #E0E0E0;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 5px 0;
    }

    .btn-adicionar,
    button {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    table {
        border-collapse: separate;
        width: 100%;
        overflow-x: auto;
    }

    table td, table th {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .botao-tempo {
        display: block;
        width: 100%;
        margin: 5px 0;
        box-sizing: border-box;
    }
}
